<footer>
    
    <p>&copy; 2023 Your OTT Platform. All rights reserved.</p>
    <footer class="footer">
        <div class="footer-content">
          <div class="footer-links">
            <a routerLink="/privacy-policy">Privacy Policy</a>
            <a routerLink="/about-us">About Us</a>
            <a routerLink="/contact-us">Contact Us</a>
            <a routerLink="/our-features">Our Features</a>
          </div>
          <div class="footer-logo">
            <img src="../../assets/images/logo-removebg-preview (1).png" alt="Footer Logo">
          </div>
        </div>
      </footer>      
  </footer>
  