/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 

/* You can add global styles to this file, and also import other style files */
body{
    padding:0;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Light Theme */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
  }
  
  /* Dark Theme */
  .dark-theme {
    --background-color: #333333;
    --text-color: #ffffff;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
